body
{
    margin-top: 40px;
}

.login-container
{
    .pull-right;

    .button-success
    {
        .navbar-btn;
    }
}

.border-radius(@r)
{
    .border-bottom-radius(@r);
    .border-top-radius(@r);
}

.page-sep-below
{
    padding-bottom: 5px;
    border-bottom: lightgrey solid 1px;
}

.publish-time
{
    color: darkgrey;
    font-style: italic;
}